<app-header></app-header>
<h1>Hello, Angular {{ title }}</h1>

<input
  type="text"
  placeholder="keyup box"
  #input1
  (keyup)="logData(input1.value)"
/>
<br />
<br />
<input
  type="text"
  placeholder="keydown box"
  #input2
  (keydown)="logData(input2.value)"
/>
<br />
<br />
<input
  type="text"
  placeholder="blur box"
  #input3
  (blur)="logData(input3.value)"
/>
<br />
<br />
<input
  type="text"
  placeholder="input box"
  #input4
  (input)="logData(input4.value)"
/>
<hr />

<h4 (mouseover)="logData('Mouse Over')">Mouse Over</h4>

<h4 (mouseleave)="logData('Mouse Leave')">Mouse Leave</h4>

<input #box type="text" name="username" placeholder="Enter name" />
<button (click)="getValue(box.value)">Click Me</button>
<p>{{ displayValue }}</p>

<hr />
<h3>Counter</h3>
<button (click)="updateCount('plus')">+</button>
<p>Count: {{ counter }}</p>
<button (click)="updateCount('minus')">-</button>

<hr />
<h3>Property Binding Example</h3>
<!-- interpolation treates boolean as string and evaluates to true -->
<input type="text" name="name" value="John" disabled="{{ disable }}" />
<br /><br />
<input type="text" name="name" value="John" [disabled]="disable" />

<hr />
<!-- If-Else condition -->
<p *ngIf="show; then ifBlock; else elseBlock"></p>
<ng-template #ifBlock>
  <h4>If Block</h4>
</ng-template>

<ng-template #elseBlock>
  <h4>Else Block</h4>
</ng-template>

<hr />
<!-- If-Else-If condition (3-4 conditions) -->
<ng-template [ngIf]="color === 'red'">
  <p style="color: red">Red Color</p>
</ng-template>
<ng-template [ngIf]="color === 'green'">
  <p style="color: green">Green Color</p>
</ng-template>
<ng-template [ngIf]="color === 'blue'">
  <p style="color: blue">Blue Color</p>
</ng-template>

<hr />
<!-- Switch case (for many conditions) -->
<div [ngSwitch]="color">
  <h4 *ngSwitchCase="'red'" style="color: red">red color</h4>
  <h4 *ngSwitchCase="'green'" style="color: green">green color</h4>
  <h4 *ngSwitchCase="'blue'" style="color: blue">blue color</h4>
  <h4 *ngSwitchDefault>unknown color</h4>
</div>

<hr />
<!-- For loop -->
<div *ngFor="let user of users">
  <h4>{{ user.id }}. {{ user.name }} - {{ user.email }}</h4>
</div>

<hr />
<!-- Nested for loops -->
<ul *ngFor="let user of users">
  <li>{{ user.name }}</li>
  <li>{{ user.email }}</li>
  <ul *ngFor="let hobby of user.hobbies">
    <li>{{ hobby }}</li>
  </ul>
</ul>

<hr />
<!-- Style Binding -->
<h1 [style.color]="color" [style.backgroundColor]="bgColor">Style Binding</h1>
<button (click)="updateColor()">Update color</button>

<hr />
<!-- Form -->
<form #loginForm="ngForm" (submit)="getData(loginForm.value)">
  <input type="text" ngModel name="username" placeholder="Enter username" />
  <br /><br />
  <input type="password" ngModel name="password" placeholder="Enter password" />
  <br /><br />
  <input type="checkbox" ngModel name="rememberMe" id="remember-me" />
  <label for="remember-me">Remember me</label>
  <br /><br />
  <button>Submit</button>
</form>
<ul>
  <li>Username: {{ loginFormData.username }}</li>
  <li>Password: {{ loginFormData.password }}</li>
  <li>Remember me: {{ loginFormData.rememberMe }}</li>
</ul>

<hr />
<!-- Toggle element -->
<button (click)="toggle()">Toggle</button>
<p *ngIf="display">Click Toggle button to hide me</p>

<hr />
<!-- Testing if bootstrap is installed -->
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too
    good.
  </ngb-alert>
</p>

<hr />
<h4>To-Do lost</h4>
<input #task type="text" name="task" id="task" placeholder="Enter task" />
<button (click)="addTask(task.value)">Add Task</button>
<ul *ngFor="let task of toDoList">
  <li>{{ task.task }} <button (click)="removeTask(task.id)">Remove</button></li>
</ul>

<hr />
<app-child
  [data]="'hello from app-component'"
  [randomNumber]="randomNum"
  (updateDataEvent)="updateData($event)"
></app-child>
<button (click)="generateRandomNumber()">Update Random Number</button>
<p>Input value from child component: {{ inputFromChild }}</p>

<hr />
<h4>Two-way binding</h4>
<input type="text" [(ngModel)]="twoWayBindingData" />
<p>{{ twoWayBindingData }}</p>

<hr />
<h4>Pipes</h4>
<p>Original string: {{ message }}</p>
<p>String with uppercase pipe: {{ message | uppercase }}</p>
<p>String with lowercase pipe: {{ message | lowercase }}</p>
<p>Original date: {{ todaysDate }}</p>
<p>Date with date pipe: {{ todaysDate | date }}</p>
<p>Date with date pipe: {{ todaysDate | date: "fullDate" }}</p>
<p>JSON pipe: {{ users | json }}</p>
<p>Currency pipe: {{ 100 | currency: "INR" }}</p>
<p>Number pipe: {{ 03.345678 | number: "1.2-3" }}</p>
<p>Slice pipe: {{ "Hello world" | slice: 1:4 }}</p>
<p>Custom pipe - inrToUsd: {{ 100 | inrToUsd: 80 }}</p>
<p>Custom pipe - replace: {{ "I'm_learning_angular" | replace: "_":" " }}</p>

<hr />
<h4>Template-driven form</h4>
<form
  #registrationForm="ngForm"
  (ngSubmit)="onRegistrationFormSubmit(registrationForm.value)"
>
  <input type="text" name="username" placeholder="Enter username" ngModel />
  <br /><br />
  <input type="password" name="password" placeholder="Enter password" ngModel />
  <br /><br />
  <button>Register</button>
</form>
