<h1>Hello, Angular {{ title }}</h1>

<input
  type="text"
  placeholder="keyup box"
  #input1
  (keyup)="logData(input1.value)"
/>
<br />
<br />
<input
  type="text"
  placeholder="keydown box"
  #input2
  (keydown)="logData(input2.value)"
/>
<br />
<br />
<input
  type="text"
  placeholder="blur box"
  #input3
  (blur)="logData(input3.value)"
/>
<br />
<br />
<input
  type="text"
  placeholder="input box"
  #input4
  (input)="logData(input4.value)"
/>
<hr />

<h4 (mouseover)="logData('Mouse Over')">Mouse Over</h4>

<h4 (mouseleave)="logData('Mouse Leave')">Mouse Leave</h4>

<input #box type="text" name="username" placeholder="Enter name" />
<button (click)="getValue(box.value)">Click Me</button>
<p>{{ displayValue }}</p>

<hr />
<h3>Counter</h3>
<button (click)="updateCount('plus')">+</button>
<p>Count: {{ counter }}</p>
<button (click)="updateCount('minus')">-</button>

<hr />
<h3>Property Binding Example</h3>
<!-- interpolation treates boolean as string and evaluates to true -->
<input type="text" name="name" value="John" disabled="{{ disable }}" />
<br /><br />
<input type="text" name="name" value="John" [disabled]="disable" />
